Integration Middleware v7/new_order.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Created with Liquid XML 2015 Developer Bundle Edition (Education) 13.2.3.6018 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="order">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="orderid" type="xs:string" minOccurs="0"/>
				<xs:element name="totalPrice" type="xs:decimal" minOccurs="0"/>
				<xs:element name="timestamp" type="xs:string" minOccurs="0"/>
				<xs:element name="username" type="xs:string" minOccurs="0"/>
				<xs:element name="email" type="xs:string" minOccurs="0"/>
				<xs:element name="phone" type="xs:string" minOccurs="0"/>
				<xs:element name="address" type="xs:string" minOccurs="0"/>
				<xs:element name="postcode" type="xs:unsignedInt" minOccurs="0"/>
				<xs:element name="region" type="xs:string" minOccurs="0"/>
				<xs:element name="storeName" type="xs:string" minOccurs="0"/>
				<xs:element name="package" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" minOccurs="0"/>
							<xs:element name="description" type="xs:string" minOccurs="0"/>
							<xs:element name="price" type="xs:decimal" minOccurs="0"/>
							<xs:element name="qty" type="xs:unsignedByte" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>