Integration Middleware v7/retrieveRoute.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2015 Developer Bundle Edition (Education) 13.2.3.6018 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DirectionsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string" minOccurs="0" />
                <xs:element name="route" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="summary" type="xs:string" minOccurs="0" />
                            <xs:element name="leg" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="step" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="travel_mode" type="xs:string" minOccurs="0" />
                                                    <xs:element name="start_location" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="lat" type="xs:decimal" minOccurs="0" />
                                                                <xs:element name="lng" type="xs:decimal" minOccurs="0" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="end_location" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="lat" type="xs:decimal" minOccurs="0" />
                                                                <xs:element name="lng" type="xs:decimal" minOccurs="0" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="polyline" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="points" type="xs:string" minOccurs="0" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="duration" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="value" type="xs:string" minOccurs="0" />
                                                                <xs:element name="text" type="xs:string" minOccurs="0" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="html_instructions" minOccurs="0">
                                                        <xs:complexType mixed="true">
                                                            <xs:sequence>
                                                                <xs:element name="b" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                                                                <xs:element name="div" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="style" type="xs:string" use="optional" />
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="distance" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="value" type="xs:string" minOccurs="0" />
                                                                <xs:element name="text" type="xs:string" minOccurs="0" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="maneuver" type="xs:string" minOccurs="0" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="duration" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="value" type="xs:string" minOccurs="0" />
                                                    <xs:element name="text" type="xs:string" minOccurs="0" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="distance" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="value" type="xs:string" minOccurs="0" />
                                                    <xs:element name="text" type="xs:string" minOccurs="0" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="start_location" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="lat" type="xs:decimal" minOccurs="0" />
                                                    <xs:element name="lng" type="xs:decimal" minOccurs="0" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="end_location" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="lat" type="xs:decimal" minOccurs="0" />
                                                    <xs:element name="lng" type="xs:decimal" minOccurs="0" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="start_address" type="xs:string" minOccurs="0" />
                                        <xs:element name="end_address" type="xs:string" minOccurs="0" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="copyrights" type="xs:string" minOccurs="0" />
                            <xs:element name="overview_polyline" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="points" type="xs:string" minOccurs="0" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="bounds" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="southwest" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="lat" type="xs:decimal" minOccurs="0" />
                                                    <xs:element name="lng" type="xs:decimal" minOccurs="0" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="northeast" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="lat" type="xs:decimal" minOccurs="0" />
                                                    <xs:element name="lng" type="xs:decimal" minOccurs="0" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="geocoded_waypoint" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="geocoder_status" type="xs:string" minOccurs="0" />
                            <xs:element name="type" type="xs:string" minOccurs="0" />
                            <xs:element name="place_id" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
