gps_simulator/coordinate.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML 2015 Developer Bundle Edition (Education) 13.2.3.6018 (http://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Coordinate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:decimal" />
        <xs:element minOccurs="0" name="y" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>